/* ===== GLOBAL ===== */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}

/* ===== LOGIN / REGISTER ===== */

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #0f172a,
    #1e293b,
    #334155
  );
}

.auth-card {
  width: 350px;
  padding: 40px;

  border-radius: 20px;

  background: rgba(255, 255, 255, 0.05);

  backdrop-filter: blur(10px);

  text-align: center;

  color: white;

  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.auth-card h1 {
  color: #3b82f6;
  margin-bottom: 10px;
}

.auth-card h2 {
  margin-bottom: 25px;
}

.auth-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-card input {
  padding: 12px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.auth-card button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #3b82f6;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.auth-card button:hover {
  background: #2563eb;
}

.auth-card p {
  margin-top: 20px;
}

.auth-card span {
  color: #60a5fa;
  cursor: pointer;
  margin-left: 5px;
}

/* ===== NAVBAR ===== */

.navbar {
  background: #111827;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  color: #60a5fa;
}

.logout-btn {
  background: #ef4444;
  color: white;

  border: none;
  padding: 8px 14px;

  border-radius: 8px;
  cursor: pointer;
}

/* ===== HOME PAGE ===== */

.home-container {
  min-height: calc(100vh - 70px);

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f4f6f9;
}

.welcome-card {
  background: white;

  padding: 40px;

  border-radius: 20px;

  text-align: center;

  width: 550px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.welcome-card h1 {
  color: #2563eb;
}

.home-actions {
  margin-top: 30px;

  display: flex;
  justify-content: center;
  gap: 15px;
}

.home-actions button {
  padding: 12px 18px;

  border: none;

  border-radius: 10px;

  cursor: pointer;

  background: #2563eb;

  color: white;
}

.home-actions button:hover {
  background: #1d4ed8;
}

/* ===== FEED ===== */

.feed-container {
  padding: 30px;

  max-width: 800px;

  margin: auto;
}

.post-card {
  background: white;

  padding: 20px;

  margin-top: 20px;

  border-radius: 15px;

  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.post-card h3 {
  color: #2563eb;
  margin-bottom: 10px;
}

.post-card p {
  font-size: 16px;
  margin-bottom: 10px;
}

/* ===== CREATE POST ===== */

textarea {
  width: 100%;
  padding: 12px;

  border-radius: 10px;

  border: 1px solid #d1d5db;

  resize: none;

  font-size: 16px;
}

textarea:focus {
  outline: none;
  border-color: #2563eb;
}